# General packages
pyyaml
kaggle
prompter

# ML packages
pandas
scikit-learn
tensorboardX
optuna
lightgbm

# Jupyter packages
jupyterlab
seaborn
tqdm
ipywidgets

# NLP modules
nltk
gensim
spacy
sentencepiece
